* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 21, 21);
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  width: 380px;
  height: 460px;
  background-color: azure;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}



.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info p {
  margin-top: 10px;
  /* line-height: 4px; */
  color: gray;
}

.score {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-center {
  text-align: center;
  margin-top: 10px;
}


.bold {
  font-weight: 700;
  font-size: 20px;
  
}

.orange {
  color: #e85100;
}

.green {
  color: #178313;
}

.dice-container {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.die {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play-button {
  border: none;
  outline: none;
  background-color: rgb(167 118 213);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  /* margin-top: 20px; */
  cursor: pointer;
  font-size: 1.3rem;
}